<!--通过 ngIf 决定是否使用该组件，在条件为否时，触发了该组件的 OnDestroy -->
<app-scrollable-tab
  [menus]="topMenus"
  [backgroundColor]="'#fff'"
  [indicatorColor]="'red'"
  [titleColor]="'#3f3f3f'"
  [titleActiveColor]="'red'"
  (tabSelected)="handleTabSelected($event)"
>
</app-scrollable-tab>
<app-image-slider [sliders]="imageSliders"> </app-image-slider>
<app-horizontal-grid>
  <span appGridItem *ngFor="let item of channels">
    <img appGridItemImage="2rem" [src]="item.icon" alt="" />
    <span appGridItemTitle="0.6rem" class="title">{{ item.title }}</span>
  </span>
</app-horizontal-grid>
